<div class="container">
    <div class="row justify-content-center">
        <div class="card col-md-6">
            <div class="card-body">
                <h1>Nueva tabla</h1>
                <%= render 'form', board: @board, team_id: @team_id %>
            </div>
        </div>
    </div>
</div>