<div class="container">
    <div class="row justify-content-center">
        <div class="card col-md-8">
            <div class="card-body">
                <h1 class="my-4">Crear tarea</h1>
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>
