<div class="container">
    <div class="row justify-content-center">
        <div class="card col-md-6">
            <div class="card-body">
                <h1>Renombrar estado</h1>
                <%= render 'uform', status_list: @status_list, board_id: @board_id %>
            </div>
        </div>
    </div>
</div>