<footer class="bg-light text-center text-lg-start py-2">
  <div class="container">
    <span style="font-size: 0.9rem;">© 2024 Derechos Reservados:</span>  
    <a class="text-dark font-weight-bold" href="http://127.0.0.1:3000/" style="text-decoration: none; font-size: 0.9rem;">kanban.com</a>  
  </div>
</footer>
